/*
 * Copyright (c) 2020 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        // ENTER combo on J L K (positions 9, 10, 11)
        enter {
            bindings = <&kp ENTER>;
            key-positions = <9 10 11>;
            timeout-ms = <50>;
        };

        // Ctrl + Y + U combo to switch to Colemak DH layer
        ctrl_yu_colemak {
            bindings = <&mo 4>;
            key-positions = <4 5>;
            timeout-ms = <50>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // Layer 0: Default QWERTY
        default_layer {
            // Physical right half outputs QWERTY correctly
            // Physical keys: P  O  I  U  Y  T  R  E  W  Q
            // Output:         Q  W  E  R  T  Y  U  I  O  P
            // -----------------------------------------------------------------------------------------
            // |  TAB |  P  |  O  |  I  |  U  |  Y  |   |  T  |  R  |  E  |  W  |  Q  | BSPC |
            // | CTRL |  ;  |  L  |  K  |  J  |  H  |   |  G  |  F  |  D  |  S  |  A  |  '   |
            // | SHFT |  /  |  .  |  ,  |  M  |  N  |   |  B  |  V  |  C  |  X  |  Z  | ESC  |
            //                    | GUI | SPC | LWR |   | RSE | BSPC | ALT |

            bindings = <
&kp TAB    &kp P  &kp O  &kp I  &kp U  &kp Y        &kp T  &kp R  &kp E  &kp W  &kp Q  &mo 3
&kp LCTRL  &kp SEMICOLON  &kp L  &kp K  &kp J  &kp H        &kp G  &kp F  &kp D  &kp S  &kp A  &kp SQT
&kp LSHFT  &kp FSLH  &kp DOT  &kp COMMA  &kp M  &kp N        &kp B  &kp V  &kp C  &kp X  &kp Z  &kp ESC
                         &kp LGUI  &kp SPACE  &mo 1    &mo 2  &kp BACKSPACE  &kp RIGHT_ALT
            >;
        };

        // Layer 1: Lower (Numbers and arrows)
        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  0  |  9  |  8  |  7  |  6  |   |  5  |  4  |  3  |  2  |  1  | BSPC |
            // | BTCLR| BT5 | BT4 | BT3 | BT2 | BT1 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI | SPC |     |   |     | BSPC | ALT |

            bindings = <
&trans  &kp N0  &kp N9  &kp N8  &kp N7  &kp N6        &kp N5  &kp N4  &kp N3  &kp N2  &kp N1  &trans
&bt BT_CLR  &bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0    &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans        &trans  &trans  &trans  &trans  &trans  &trans
                                        &trans  &trans  &trans        &trans  &trans  &trans
            >;
        };

        // Layer 2: Raise (Symbols)
        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  )  |  (  |  *  |  &  |  ^  |   |  %  |  $  |  #  |  @  |  !  | BSPC |
            // | CTRL |  \  |  ]  |  [  |  =  |  -  |   |     |     |     |     |     |  `   |
            // | SHFT | "|" |  }  |  {  |  +  |  _  |   |     |     |     |     |     |  ~   |
            //                    | GUI | SPC |     |   |     | BSPC | ALT |

            bindings = <
&trans  &kp RPAR  &kp LPAR  &kp ASTRK  &kp AMPS  &kp CARET      &kp PRCNT  &kp DLLR  &kp HASH  &kp AT  &kp EXCL  &trans
&trans  &kp BSLH  &kp RBKT  &kp LBKT  &kp EQUAL  &kp MINUS      &trans  &trans  &trans  &trans  &trans  &kp GRAVE
&trans  &kp PIPE  &kp RBRC  &kp LBRC  &kp PLUS  &kp UNDER      &trans  &trans  &trans  &trans  &trans  &kp TILDE
                          &trans  &trans  &trans        &trans  &trans  &trans
            >;
        };

        // Layer 3: Function row
        frow {
            bindings = <
&kp F11  &kp F10  &kp F9  &kp F8  &kp F7  &kp F6    &kp F5  &kp F4  &kp F3  &kp F2  &kp F1  &kp F12
&trans   &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans   &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                         &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        // Layer 4: Colemak DH Layout
        colemak_dh_layer {
            // Colemak DH layout - correctly mapped for right half
            // Physical keys: P  O  I  U  Y  T  R  E  W  Q
            // Output:         Q  W  F  P  G  J  L  U  Y  ;
            // -----------------------------------------------------------------------------------------
            // |  TAB |  ;  |  Y  |  U  |  L  |  J  |   |  G  |  P  |  F  |  W  |  Q  | BSPC |
            // | CTRL |  O  |  I  |  E  |  N  |  H  |   |  D  |  T  |  S  |  R  |  A  |  '   |
            // | SHFT |  /  |  .  |  ,  |  M  |  K  |   |  B  |  V  |  C  |  X  |  Z  | ESC  |
            //                    | GUI | SPC | LWR |   | RSE | BSPC | ALT |

            bindings = <
&mo 3  &kp SEMICOLON  &kp Y  &kp U  &kp L  &kp J        &kp G  &kp P  &kp F  &kp W  &kp Q  &kp TAB
&kp LCTRL  &kp O  &kp I  &kp E  &kp N  &kp H        &kp D  &kp T  &kp S  &kp R  &kp A  &kp SQT
&kp LSHFT  &kp FSLH  &kp DOT  &kp COMMA  &kp M  &kp K        &kp B  &kp V  &kp C  &kp X  &kp Z  &kp ESC
                         &kp LGUI  &kp SPACE  &mo 1    &mo 2  &kp BACKSPACE  &kp RIGHT_ALT
            >;
        };
    };
};
